{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}SecureUp | Reset Password{% endblock %} 
{% block content %}
<br /><br />
<div class="container bg-white shadow-md px-5 pb-3 pt-4 form-layout">
    <br />
    <h3>Password Reset</h3>
    <br /><br />
    <p>Forgotten your password? Enter your email below and we will send you email
        with instructions how to set a new one.
    </p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br /><br />
        <button type="submit" class="btn btn-info btn-log w-100 p-3 btn-block"><i class="fa-solid fa-envelope"></i> Send Email</button>
    </form>
    <br />
</div>
{% endblock %} 